@keyframes fade-up {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.initanim {
	opacity: 0;
	transform: translateY(20px);

	animation-name: fade-up;
	animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
	animation-fill-mode: forwards;

	&-d {
		@for $i from 1 through 10 {
			&-#{$i * 100} {
				animation-delay: $i * 100ms;
			}
		}
	}
	&-s {
		@for $i from 1 through 10 {
			&-#{$i * 100} {
				animation-duration: $i * 100ms;
			}
		}
	}
}
