.row {
	display: flex;
	flex-flow: row wrap;
	gap: $gutter;
	align-items: start;
	padding: $gutter;
	$breakpoints: 1600, 1400, 1200, 992, 768, 576, 400;

	&.align-center {
		align-items: center;
	}

	&.full-height {
		min-height: calc(100vh - var(--nav-height));

		padding: 5rem $gutter * 2;
	}

	&.double-gutter {
		gap: $gutter * 2;
	}

	.col {
		&-sticky {
			position: sticky;
			top: $nav-height + $gutter * 2.5;
		}
		@for $i from 1 through 20 {
			&-#{$i} {
				flex-basis: calc(#{$i * 5%} - 1.5rem);

				@each $bp in $breakpoints {
					@include respond($bp) {
						&-#{$bp} {
							flex-basis: calc(#{$i * 5%} - 1.5rem);
						}
					}
				}
			}
		}
	}

	&.break-992 {
		@include respond(992) {
			flex-direction: column;
			align-items: stretch;

			.col {
				flex-basis: 100% !important;
			}
		}
	}
}
