.typ-heading-primary {
	font-size: 3.6rem;
	font-weight: 900;
	font-family: 'InterSemiBold';

	&.bold {
		font-size: 5rem;
		letter-spacing: 0;
	}
}
.typ-heading-secondary {
	font-family: 'InterSemiBold';
	font-size: 1.6rem;
	color: $col-dark-4;
}
.typ-heading-tertiary {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.2rem;
	font-weight: 900;
	color: $col-dark-5;
	font-family: 'InterSemiBold';

	&.large {
		font-size: 1.4rem;
	}
}

.typ-subtext {
	color: $col-dark-5;
}
