.typ-heading-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	text-align: center;
	margin: 8rem 0 6rem 0;
}

.typ-heading-primary {
	font-size: 3.6rem;
	font-weight: 900;
	font-family: 'InterSemiBold';

	&.bold {
		font-size: 5rem;
		letter-spacing: 0;
	}
}
.typ-heading-secondary {
	font-family: 'InterSemiBold';
	font-size: 1.6rem;
	color: $col-dark-4;
}
.typ-heading-tertiary {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.2rem;
	font-weight: 900;
	color: $col-dark-5;
	font-family: 'InterSemiBold';

	&.large {
		font-size: 1.4rem;
	}
}

.typ-subtext {
	color: $col-dark-5;
	max-width: 100%;
	margin: 0 auto;

	&.w-800 {
		width: 800px;
		@include respond(992) {
			width: 100%;
		}
	}
}
